*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.tap-content{
    display: flex;
}

.tab{
    background: #eee;
    display: flex;
    border: 1px solid #eee;
}

.tab ul li{
    padding: 20px 50px;
}

.tab-bg{
    border: 1px solid #eee;
    display: none;
}
